@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Parisienne&display=swap');
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.275em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  /*background-image: url("images/background.jpg"); */
}
* {
    box-sizing: border-box;
    border: none;
}
h2, button{
    display: inline-block;
}
body {
    margin: 0;
}
.navLinks.active {
    display: flex; 
    background-color: #ffdede;
    z-index: 1;
  }
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  
.header img {
    width: 40px;
    height: 40px;
}
.menubar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    z-index: 2;
    padding: 5px;
  }
  
.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    align-self: flex-end;
}
.divider{
    display: block;
    border-top: solid 0.185em gray;
    margin: 1.185em 0 ;
    padding: 0.875em 0;
}
h2{
    margin-top: 1.185em ;
}
.dropbtn {
    margin-top: 1.185em ;
    background-color: #ffdede;
    color: white;
    padding: 10px;
    font-size: 0.875em;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1;}  
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #95ccba;}

h1{
  font-size: 2.5em;
}
h2{
    font-size: 1.125em;
}
h4{
  text-align: center;
}
p{
    font-size: 0.875em;
}
a {
    background-color: transparent;
}
.footer {
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    background-color: #f2cc84;
    color: white;
    text-align: center;
  }  
img{
    width: 100px;
    height: 125px;
    cursor: pointer;
    margin-bottom: 0.875em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    justify-content: space-evenly;
  }
.row-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 10px;
    justify-content: space-evenly;
}
.grid-item{
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item >p{
    font-size: 0.875em;
  }
@media screen and (min-width: 481px) {
    h1, h2 {
      padding:5px;
    }
}
  @media screen and (min-width: 1024px) {
    .topnav {
      background-color: #ffdede;
      overflow: hidden;
      margin-bottom: 2em;
    }
  
    .topnav a {
      float: center;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  
    .topnav a:hover {
      background-color: #95ccba;
      color: white;
    }
  
    .topnav a.active {
      background-color: #f2cc84;
      color: white;
    }
    .navLinks{
      display: flex;
      flex-direction: row;
      text-align: center;
      background-color: #ffdede;
      position: absolute;
      width: 100%;
    }
  
    .menubar {
      display: none;
    }  
  }


button,
input,
select {
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.w3-card-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)!important
}

@-webkit-keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.w3-transparent {
    background-color: transparent!important
}
