@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Parisienne&display=swap');
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

p, a {
  font-family: 'Barlow', 'Arial', sans-serif; 
}

h1, h2 {
  font-family: 'Parisienne', 'Times New Roman', cursive;
}
h1{
  font-size: 1.5em;
}

.topnav {
  background-color: #ffdede;
  display: flex;
  position: relative;
  align-items: center;
  overflow: visible;
}

.navLinks{
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #ffdede;
  position: absolute;
  width: 100%;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}
.menubar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  z-index: 1;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  align-self: flex-end;
}

.navLinks.active {
  display: flex; 
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.header img {
  width: 40px;
  height: 40px;
}

.occasions {
  text-align: center;
  padding: 5px;
}

.occasions p {
  font-size: .9em;
}

.greenblue {
  background-color: #95ccba;
}