@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Parisienne&display=swap');
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-image: url('images\background .jpg'); 

}

p, a {
  font-family: 'Barlow', 'Arial', sans-serif; 
}

h1, h2 {
  font-family: 'Parisienne', 'Times New Roman', cursive;
}
h1{
  font-size: 2.5em;
}

.topnav {
  background-color: #ffdede;
  display: flex;
  position: relative;
  align-items: center;
  overflow: visible;
}

.navLinks{
  display: none;
  flex-direction: column;
  text-align: center;
  background-color: #ffdede;
  position: absolute;
  width: 100%;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}
.menubar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
  z-index: 2;
  padding: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  align-self: flex-end;
}

.navLinks.active {
  display: flex; 
  background-color: #ffdede;
  z-index: 1;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.header img {
  width: 40px;
  height: 40px;
}

.occasions {
  text-align: center;
  padding: 5px;
}

.occasions p {
  font-size: .9em;
}

.greenblue {
  background-color: #95ccba;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.text {
  background-color: black;
  color: #ffdede;
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  text-align:center;
 
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.footer {
  bottom: 0; 
  left: 0; 
  z-index: 10;
  width: 100%;
  background-color: #f2cc84;
  color: white;
  text-align: center;
}

@media screen and (min-width: 481px) {
  h1, h2 {
    padding:5px;
  }
  h2 {
    background-color: #f2cc84;
  }
  .prevB, .nextB {
     bottom: -5%;
  }

@media screen and (min-width: 1024px) {
  .topnav {
    background-color: #ffdede;
    overflow: hidden;
  }

  .topnav a {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #95ccba;
    color: white;
  }

  .topnav a.active {
    background-color: #f2cc84;
    color: white;
  }
  .navLinks{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #ffdede;
    position: absolute;
    width: 100%;
  }

  .menubar {
    display: none;
  }

  body {
    background-image: url("C:\Users\Althea\Documents\GitHub\Project2\images\background .jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
  }

  .main-content-area {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .large-image {
    flex: 1;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .wide-heading {
    text-align: center;
    margin: 20px auto; 
    }
  