@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Parisienne&display=swap');
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

p, a {
  font-family: 'Barlow', 'Arial', sans-serif; 
}

h1, h2 {
  font-family: 'Parisienne', 'Times New Roman', cursive;
}

.topnav {
  background-color: #95ccba;
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 20px;
  overflow: hidden;
}

.topnav, #navlinks{
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}
.menubar {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffdede;
    margin: 3px 0;
}